<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= t 'cards_mailer.dear'%> <%= @user.email %>, <%= t 'cards_mailer.you_have'%></h1>
    <p>
      <%= t 'cards_mailer.text'%>: <%= url_for(host: @url, controller: "dashboard/cards", action: "index") %>.
    </p>
    <p><%= t 'cards_mailer.see_you'%></p>
  </body>
</html>
