<%= t 'cards_mailer.dear'%> <%= @user.email %>, <%= t 'cards_mailer.you_have'%>
===============================================

<%= t 'cards_mailer.text'%>: <%= url_for(host: @url, controller: "cards", action: "index") %>..

<%= t 'cards_mailer.see_you'%>
