<% flash.each do |key, value| %>
   <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
<% end %>
<table class="table table-hover table-condensed">
  <tr>
    <th><%= t '.number' %></th>
    <th><%= t '.id' %></th>
    <th><%= t '.deck' %></th>
    <th><%= t '.original' %></th>
    <th><%= t '.translation' %></th>
    <th><%= t '.rev_date' %></th>
    <th><%= t '.img' %></th>
  </tr>

<% @cards.each_with_index do |card,index| %>
  <tr>
    <td><%= index.next %></td>
    <td><%= card.id %></td>
    <td><%= card.deck.try(:name) %></td>
    <td><%= card.original_text %></td>
    <td><%= card.translated_text %></td>
    <td><%= card.review_date.strftime("%d/%m/%Y  %H:%M:%S") %></td>
    <td><%= image_tag card.picture.url(:thumb) %></td>
    <td><%= link_to (t '.edit'), edit_card_path(card),
            class: "btn btn-default btn-sm" %></td>
    <td><%= link_to (t '.delete'), card_path(card),
            class: "btn btn-default btn-sm",
            method: :delete,
            data: { confirm: (t 'deletion_confirm') } %></td>
  </tr>
<% end %>
</table>
