<div class="form-group">
  <%= simple_form_for @card do |f| %>

  <%= f.input :original_text, required: true %>
  <%= f.input :translated_text, required: true %>

  <div class="form-group">

    <%= f.input :picture, as: :file, label: (t 'dashboard.cards.admin.img') %>

    <% if @card.picture_file_name %>
      <%= image_tag @card.picture.url(:medium) %>

  </div>

  <div class="form-group">
      <%= link_to (t 'card.remove_image'), remove_attachment_path(:id => @card.id),
                      class: "btn btn-info", data: { confirm: (t 'deletion_confirm') } %>
  </div>

    <% end %>

  <%= f.input :review_date, default: {day: (-1).days.from_now.day }, required: true %>
  <%= f.input :deck_id, collection: current_user.decks, label: (t 'card.deck_choice'), required: true %>
  <%= f.button :submit, (t 'save') %>

  <% end %>
</div>
