<div class="form-group">
  <%= simple_form_for @card,
      url: url_for(action: 'check', controller: 'cards'), remote: true,
      method: 'post' do |f| %>

  <%= f.input :translated_text, disabled: true %>
    <% if @card.picture_file_name %>
      <div class="form-group">
        <%= image_tag @card.picture.url(:medium) %>
      </div>
    <% end %>
  <%= f.input :user_entered, label: (t '.invite'), required: true %>
  <%= f.hidden_field :id %>
  <%= f.button :submit, (t '.check') %>

  <% end %>
</div>

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
<% end %>

<div class="jumbotron text-center">
  <div class="h1" id="clock"></div>
</div>

<%= javascript_include_tag "countdown", "data-turbolinks-track" => true %>
