<h3><%= t 'users.index.edit_account' %></h3>
<div class="form-group">
  <%= simple_form_for @user do |f| %>

  <%= f.input :email, required: true %>
  <% unless current_user && current_user.crypted_password.nil?  %>
    <%= f.input :password, required: true %>
    <%= f.input :password_confirmation, required: true %>
  <% end %>
  <% if current_user %>
    <%= f.input :locale, :collection => I18n.available_locales, label: (t 'users.locale_choice') %>
  <% end %>
  <%= f.button :submit, (t 'save') %>

  <% end %>
</div>
<%= link_to (t 'back'), users_path, class: "btn btn-default" %>
