<h1><%= t 'nav.account' %></h1>
<table class="table table-hover table-condensed">
  <tr>
    <td><%= t '.mail' %></td>
    <td><%= current_user.email %></td>
  </tr>
  <tr>
    <td><%= t '.signup_date' %></td>
    <td><%= current_user.created_at %></td>
  </tr>
  <tr>
    <td><%= t '.locale' %></td>
    <td><%= current_user.locale %></td>
  </tr>
</table>

<div class="form-group">
  <%= link_to (t '.edit_account'), edit_user_path(current_user),
                                    class: "btn btn-default"%>
</div>

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
<% end %>
