<h1><%= t 'users.signin_title' %></h1>

<div class="form-group">
  <%= simple_form_for :session,
                      :url=> 'user_sessions',
                      :method => 'post' do |f| %>

    <%= f.input :email, label: (User.human_attribute_name("email")), required: true %>
    <%= f.input :password, label: (User.human_attribute_name("password")), required: true %>
    <%= f.button :submit, (t 'nav.signin') %>

  <% end %>
</div>

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
<% end %>
