<div class="form-group">
  <%= simple_form_for @deck do |f| %>

  <%= f.input :name %>
  <%= f.input_field :current, as: :boolean, inline_label: (Deck.human_attribute_name("current")), required: true %>
  <div class="form-group">
    <%= f.button :submit, (t 'save') %>
  </div>
  <% end %>
</div>
