<h3><%= t 'dashboard.decks.index.edit' %></h3>

<%= render 'form' %>

<div class="form-group">
<%= link_to (t 'back'), decks_path, class: "btn btn-default" %>
</div>

<% flash.each do |key, value| %>
   <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
<% end %>
