<small><%= t '.current_row' %></small>

<% flash.each do |key, value| %>
   <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
<% end %>

<table class="table table-hover table-condensed">
  <tr>
    <th><%= t '.number' %></th>
    <th><%= t '.id' %></th>
    <th><%= t '.name' %></th>
    <th><%= t '.card_count' %></th>
  </tr>

<% @decks.each_with_index do |deck,index| %>
  <tr class="<%= 'info' if deck.current %>">
    <td><%= index.next %></td>
    <td><%= deck.id %></td>
    <td><%= deck.name %></td>
    <td><%= deck.cards.count %></td>
    <td><%= link_to (t '.edit'), edit_deck_path(deck),
            class: "btn btn-default btn-sm" %></td>
    <td><%= link_to (t '.delete'), deck_path(deck),
            class: "btn btn-default btn-sm",
            method: :delete,
            data: { confirm: (t 'deck.deletion_confirm') } %></td>
  </tr>
<% end %>
</table>
<%= link_to (t '.new'), new_deck_path,
        class: "btn btn-default" %>
