<!DOCTYPE html>
<html>

<head>
  <title><%= t 'title' %></title>
  <%= stylesheet_link_tag 'bootstrap.min', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'sticky-footer', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
</head>

<body>
  <div class="container">

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <%= t 'title' %>
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
              <li>
                <%= link_to (t 'nav.decks'), decks_path %>
              </li>
              <li>
                <%= link_to (t 'nav.cards'), cards_admin_path %>
              </li>
              <li>
                <%= link_to (t 'nav.add_card'), new_card_path %>
              </li>
              <li>
                <%= link_to (t 'nav.account'), users_path%>
              </li>
              <li>
                <%= link_to (t 'nav.signout'), :logout, method: :post %>
              </li>
            <% else %>
              <li>
                <%= link_to (t 'nav.register'), new_user_path %>
              </li>
              <li>
                <%= link_to (t 'nav.signin'), :login %>
              </li>
              <li>
                <%= link_to (t 'nav.google'),
                          auth_at_provider_path(:provider => :google) %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <section class="container bs-docs-container">
      <div class="col-md-11">
        <%= yield %>
      </div>
    </section>

  </div>
    <div class="footer">
      <div class="container">
        <% unless current_user %>
          <p class="navbar-text pull-right">
            <%= link_to image_tag("/images/icon/us.png"), locale: "en" %> |
            <%= link_to image_tag("/images/icon/ru.png"), locale: "ru" %>
          </p>
        <% end %>
      </div>
    </div>
</body>

</html>
